#hakase config options
#editor options
editor="nano"
editorSettings="-m"

#install location
location="$HOME/hakase"
#day storage location
archive="$location/days"

#various file locations
working="$location/working.hake"
template="$location/template.hake"
save="$archive/save.hake"

#format for date command (puts date on top of fresh)
dateFormat=`date +%d%b%y`
